.avatar {
  height: 2.5vh;
  width: 2.5vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #625DF5;
  border-radius: 50%;
}

.topbar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 6.7vh;
  background-color: #141416;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.toolbar > img {
  cursor: pointer;
  width: 1.3vw;
  height: 1.3vw;
}

.toolbar {
  padding-left: 1.4vw;
  display: flex;
  align-items: center;
  gap: 1.4vw;
  height: 100%;
}

.presence-container {
  display: flex;
  align-items: center;
  margin-right: 1.4vw;
  gap: 1vw;
  align-items: center;
}

.comment-tool {
  display: block;
}

snippyly-recorder-tool {
  border: 1px solid #8f95b2;
  border-radius: 50px;
}

snippyly-huddle-tool {
  border: 1px solid #8f95b2;
  border-radius: 50px;
}

snippyly-presence {
  margin-top: 0.5vh;
  margin-left: 0.4vw;
}

snippyly-comment-tool {
  margin-top: 0.8vh;
}

snippyly-tag-tool {
  margin-top: 0.8vh;
}